{% extends 'base.html.twig' %}

{% block title %}Clement Pere - Accueil{% endblock %}

{% block body %}
<h1>Bonjour mon portfolio est actuellement en construction.</h1>
<h3> Cordialement, <strong>Clement Pere</strong></h3>
{% endblock %}
